<div class='my-menu'>
    <button class="menu-btn" (click)="changeView('dashboard')">Dashboard</button>
    <button class="menu-btn" (click)="changeView('details')">Details</button>
    <button class="menu-btn" (click)="changeView('sharedDataExample')">Shared Data Example</button>
    <button class="menu-btn" (click)="changeView('viewChildExample')">ViewChild Example</button>
    <button class="menu-btn" (click)="changeView('pipeExample')">Pipe Example</button>
    <button class="menu-btn" (click)="changeView('directiveExample')">Directive Example</button>
    <button class="menu-btn" (click)="changeView('httpExample')">Http Example</button>
    <button class="menu-btn" (click)="changeView('lifecycleHooksExample')">Lifecycle Hooks</button>
    <button class="menu-btn shared-data-example-btn" (click)="addValueToSharedData()" *ngIf="selectedView === 'sharedDataExample'">Add data to shared service</button>

    <!--<a class="menu-btn" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a class="menu-btn" routerLink="/details" routerLinkActive="active">Details</a>
    <a class="menu-btn" routerLink="/sharedData" routerLinkActive="active">Shared Data Example</a>
    <a class="menu-btn" routerLink="/viewChild" routerLinkActive="active">ViewChild Example</a>
    <a class="menu-btn" routerLink="/pipe" routerLinkActive="active">Pipe Example</a>
    <a class="menu-btn" routerLink="/directive" routerLinkActive="active">Directive Example</a>
    <a class="menu-btn" routerLink="/http" routerLinkActive="active">Http Example</a>
    <a class="menu-btn" routerLink="/lifecycleHooks" routerLinkActive="active">Lifecycle Hooks</a>-->

    <!--<button class="menu-btn shared-data-example-btn" (click)="addValueToSharedData()" *ngIf="selectedView === 'sharedDataExample'">Add data to shared service</button>-->
</div>