<div class='my-menu'>
    <a class="menu-btn" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a class="menu-btn" routerLink="/details" routerLinkActive="active">Details</a>
    <a class="menu-btn" routerLink="/sharedData" routerLinkActive="active">Shared Data Example</a>
    <a class="menu-btn" routerLink="/viewChild" routerLinkActive="active">ViewChild Example</a>
    <a class="menu-btn" routerLink="/pipe" routerLinkActive="active">Pipe Example</a>
    <a class="menu-btn" routerLink="/directive" routerLinkActive="active">Directive Example</a>
    <a class="menu-btn" routerLink="/http" routerLinkActive="active">Http Example</a>
    <a class="menu-btn" routerLink="/lifecycleHooks" routerLinkActive="active">Lifecycle Hooks</a>

    <button class="menu-btn shared-data-example-btn" (click)="addValueToSharedData()" *ngIf="showAddToSharedDataBtn">Add data to shared service</button>
</div>