<div class='my-menu'>
    <a class="menu-btn" routerLink="/viewChild" routerLinkActive="active">ViewChild Example</a>
    <a class="menu-btn" routerLink="/contentChild" routerLinkActive="active">ContentChild Example</a>
    <a class="menu-btn" routerLink="/pipe" routerLinkActive="active">Pipe Example</a>
    <a class="menu-btn" routerLink="/directive" routerLinkActive="active">Directive Example</a>
    <a class="menu-btn" routerLink="/http" routerLinkActive="active">Http Example</a>
    <a class="menu-btn" routerLink="/lifecycleHooks" routerLinkActive="active">Lifecycle Hooks</a>
</div>